Host titan
  HostName titan.poscat.moe

Host hyperion
  HostName hyperion.poscat.moe

Host nuc
  HostName nuc.poscat.moe

Host *
  {{- if eq .chezmoi.os "darwin" }}
  UseKeychain yes
  {{- end }}
  AddKeysToAgent yes
  ForwardAgent yes
  ServerAliveInterval 20
  ServerAliveCountMax 3
  IdentityFile ~/.ssh/id_ed25519
