Host titan
  HostName titan.poscat.moe
  ForwardX11 yes
  ForwardX11Trusted yes

Host hyperion
  HostName hyperion.poscat.moe
  ForwardX11 yes
  ForwardX11Trusted yes

Host nuc
  HostName nuc.poscat.moe
  ForwardX11 yes
  ForwardX11Trusted yes

Host dione
  HostName 10.1.10.4
  ProxyJump titan
  ForwardX11 yes
  ForwardX11Trusted yes

Host bwh
  HostName 64.64.228.47
  ForwardX11 yes
  ForwardX11Trusted yes

Host *
  {{- if eq .chezmoi.os "darwin" }}
  UseKeychain yes
  {{- end }}
  User poscat
  AddKeysToAgent yes
  ForwardAgent yes
  SendEnv COLORFGBG
  ServerAliveInterval 20
  ServerAliveCountMax 3
  IdentityFile ~/.ssh/id_ed25519
