{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

pager = "less -R"

[edit]
command = "nvim"

[merge]
command = "nvim"
args = [ "-d" ]

[cd]
{{- if eq .chezmoi.os "windows" }}
command = "pwsh.exe"
args = [ "-NoLogo" ]
{{- else }}
command = "fish"
{{- end }}

[data]
osid = {{ $osid | quote }}
